.heading {
  color: #ffffff;
}

.heading:hover {
  color: aqua;
  cursor: pointer;
}

.main_div {
  width: 70%;
  height: 30rem;
  margin: auto;
  margin-top: 2%;
  background: linear-gradient(160deg, rgb(194, 99, 45), rgb(0, 0, 0));
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  border-radius: 10px;
}

body {
  background-color: #1A1313;
}

.text-of-typing {
  width: 75%;
  height: 15rem;
  text-align: start;
  font-size: 23px;
  color: #ffffff;
  padding-left: 3%;
  padding-top: 5%;
}

.input-field {
  width: 75%;
  height: 5rem;
  border-radius: 10px;
  font-size: 23px;
  color: black;
  margin-right: 20%;
}

.try-again-button {
  display: flex;
  text-align: center;
  padding: 30px 50px 30px 50px;
  margin-top: 2%;
  color: #ffffff;
  align-items: center;
  border-radius: 10px;
  margin-left: 5%;
  font-size: 21px;
  background: linear-gradient(160deg, rgb(226, 138, 37), rgb(82, 33, 33));
}

.try-again-button:hover {
  cursor: pointer;
}

.details-container {
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
  border-radius: 10px;
  background: linear-gradient(160deg, rgb(194, 99, 45), rgb(0, 0, 0));
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  font-size: 23px;
  color: #ffffff;
}

.current-word {
  background-color: black;
}



/* portrait phones */
@media only screen and (max-width: 575.98px) {
  .main_div {
    width: 90%;
  }

  .text-of-typing,
  .input-field {
    width: 90%;
    font-size: 18px;
    margin-top: 15%;
    margin-left: 1%;
  }

  .try-again-button {
    padding: 20px 40px;
    font-size: 18px;
  }

  .details-container {
    font-size: 18px;
  }
}

/* landscape phones */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .main_div {
    width: 85%;
  }

  .text-of-typing,
  .input-field {
    width: 85%;
    font-size: 20px;
    margin-top: 2%;
  }

  .try-again-button {
    padding: 25px 45px;
    font-size: 20px;
  }

  .details-container {
    font-size: 20px;
  }
}

/* tablets*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .main_div {
    width: 80%;
  }

  .text-of-typing,
  .input-field {
    width: 80%;
    font-size: 20px;
  }

  .try-again-button {
    padding: 28px 48px;
    font-size: 22px;
  }

  .details-container {
    font-size: 22px;
  }
}

/* desktops */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .main_div {
    width: 75%;
  }

  .text-of-typing,
  .input-field {
    width: 75%;
    font-size: 21px;
    margin-top: 5%;
  }

  .try-again-button {
    padding: 32px 52px;
    font-size: 24px;
  }

  .details-container {
    font-size: 24px;
  }
}

/* large desktops */
@media only screen and (min-width: 1200px) {
  .main_div {
    width: 70%;
  }

  .text-of-typing,
  .input-field {
    width: 70%;
    font-size: 21px;
  }

  .try-again-button {
    padding: 32px 50px;
    font-size: 26px;
  }

  .details-container {
    font-size: 26px;
  }
}
